/* You can add global styles to this file, and also import other style files */
.project-topic {
    font-weight: bolder !important;
    font-size: xx-large;
    color: #fff;
    text-decoration: none !important;
    text-align: center;
    padding: 5%;
}

@media only screen and (max-width: 440px) {
    .project-topic {
      font-size: x-large;
    }
  }